


*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");




body{

    background-color: whitesmoke;
    height: auto;

}

.navbar-header{
    padding-right: 100px;
}

.navbar-header img{
    width: 150px;
    height:100px;
    object-fit: contain;
}



.navbar-header img{
    width: 150px;
}


.navbar-custom {
    background-color: rgb(242, 189, 189);
   }

   .navbar-custom ul{
    padding-top: 15px;
   }
/* Modify brand and text color */
 
.navbar-custom .navbar-brand{

    font-family: sans-serif;
    font-size: large;
    font-weight :bold;
    color: red;



}
.navbar-custom .navbar-text,  .nav-link{
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight :bold;
    color: red;
}

.dropdown-menu{
    text-align: center;
}

.dropdown-item{
    color : red;
}

.input-gp{
    margin-top: 15px;
    margin-left: 50px;
   
   }


.search-query{

    margin-top: 15px;
    


}

.col-lg-3{

    background-color: rgb(245, 193, 193);

    color: black;
   
    margin-top: 30px;
    padding-top: 70px; 
    font-weight: bold;
}

.btn-arrow-right {
    padding-left: 36px;
 }

 .row{

            
    margin-top: 20px;

}
.col-lg-9 .row{
    align-items: center;
    justify-content: space-around;
}
.col-lg-9 .col-md-3{
    
    padding:5px;
    /* margin-bottom: 30px; */
    margin: 20px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    height:575px;
    width :260px;
}

 .col-sm-3 button{

            display: inline-block;
    color: black;
    background-color: #eb5c43;
    border-width: medium;
            
    padding:5px 8px;
    text-align: center;

    font-size: 16px;
    margin: 4px 2px;
   


}
.pimage{

    padding : 20px; border-radius : 5px;width : 230px; height :250px;

}
.title h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blueviolet;
    font-size:20px;
    line-height: 20px;
   
}

.carousel {
    background-color: rgb(242, 189, 189);
}